<div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">
                Loan Details
                <a (click)="clearSelection()"><i class="material-icons pull-right">close</i></a>
            </h4>
            <!-- <p class="card-category">Created using Roboto Font Family</p> -->
        </div>
        <div class="card-body">
            <div id="typography" class="mt-2">
                <div class="row mt-1" *ngFor="let detail of details">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <strong> {{detail.header}}: </strong>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        {{detail.value}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>