<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">account_balance_wallet</i>
                    </div>
                    <p class="card-category">Total Loan Balance</p>
                    <h3 class="card-title">{{getTotalLoanBalance() | money}}</h3>
                </div>
                <div class="card-footer">
                    <!-- <div class="stats">
                        <i class="material-icons">date_range</i> Last 24 Hours
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">payments</i>
                    </div>
                    <p class="card-category">Total Repaid Amount</p>
                    <h3 class="card-title">{{getTotalRepaidAmount() | money}}</h3>
                </div>
                <div class="card-footer">
                    <!-- <div class="stats">
                        <i class="material-icons">local_offer</i> Tracked from Github
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!selectedAccount">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#newLoanAccount">
                    New Loan Account
                </button>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Loan Accounts</h4>
                        <!-- <p class="card-category">10 of 100</p> -->
                    </div>
                    <div class="card-body table-responsive">
                        <table mat-table [dataSource]="dataSource" class="table table-hover">
                            <!-- Account No. Column -->
                            <ng-container matColumnDef="accountNo">
                                <th mat-header-cell *matHeaderCellDef> Account No. </th>
                                <td mat-cell *matCellDef="let loanAccount"> {{loanAccount.accountNo}} </td>
                            </ng-container>

                            <!-- Original Name Column -->
                            <ng-container matColumnDef="originalLoan">
                                <th mat-header-cell *matHeaderCellDef> Original Name </th>
                                <td mat-cell *matCellDef="let loanAccount"> {{loanAccount.originalLoan | money}} </td>
                            </ng-container>

                            <!-- Loan Balance Column -->
                            <ng-container matColumnDef="loanBalance">
                                <th mat-header-cell *matHeaderCellDef> Loan Balance </th>
                                <td mat-cell *matCellDef="let loanAccount"> {{loanAccount.loanBalance | money}} </td>
                            </ng-container>

                            <!-- Amount Paid Column -->
                            <ng-container matColumnDef="amountPaid">
                                <th mat-header-cell *matHeaderCellDef> Amount Paid </th>
                                <td mat-cell *matCellDef="let loanAccount"> {{loanAccount.amountPaid | money}} </td>
                            </ng-container>

                            <!-- Status Column -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef> Status </th>
                                <td mat-cell *matCellDef="let loanAccount"> {{loanAccount.status}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr
                             mat-row
                             *matRowDef="let row; columns: displayedColumns;"
                             (click)="selectAccount(row)"
                            ></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                        showFirstLastButtons 
                                        aria-label="Select page of loan accounts">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- New-Loan-Account-Modal-Angular -->
<div class="modal modal-angular fade" id="newLoanAccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-body text-center px-4">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="margin-top">
                        <small>New Loan Account</small>
                    </h3>
                    
                    <div class="separator"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-select placeholder="Product Name" disabled>
                                    <mat-option >
                                    <!-- *ngFor="let food of foods" [value]="food.value"> -->
                                        <!-- {{ food.viewValue }} -->
                                        Pay Day Loan
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Principal">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Loan Term">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <mat-select placeholder="Frequency">
                                    <mat-option >
                                        Months
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                            
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Number of repayments">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Repaid every">
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <div class="modal-footer px-4">
                    <button mat-raised-buttonn type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
